.mainLayout {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      303.79deg,
      #f0c3fc -53.74%,
      #d7befc -4.64%,
      #bcb1fc 40.96%,
      #a1aefc 83.05%,
      #94bdfc 127.47%,
      #8ec5fc 170.73%
    ),
    linear-gradient(
      0deg,
      #84fab0 0%,
      #85f9bc 21.87%,
      #88f8d7 42.19%,
      #8bf6f5 60.94%,
      #8eddf5 80.73%,
      #8fd3f4 100%
    );
}

:global body {
  margin: 0;
  padding: 0;
}
